@using Microsoft.AspNet.Identity
@using Twitter.Models;
@model IQueryable<Twitter.Web.Models.ViewModels.UserTweetViewModel>

<div class="profile-page-wrapper">
    <div class="head-profile">
        <div class="profile-background" style="height: 12rem">
            <img src="http://www.kartinkioboi.ru/_ph/19/182240145.jpg" alt="" style="width: 100%; height: 25rem" />
        </div>
        <div class="user-info">
            <div style="display: inline-block; margin: 0 1.5rem 0 1.5rem">
                TWEETS <br> @Model.Count()
            </div>
            <div style="display: inline-block; margin: 0 1.5rem 0 1.5rem">
                FOLLOWING <br> @Model.FirstOrDefault().FollowingCount
            </div>
            <div style="display: inline-block; margin: 0 1.5rem 0 1.5rem">
                FOLLOWERS<br> @Model.FirstOrDefault().FollowersCount
            </div>
            <div style="display: inline-block; margin: 0 1.5rem 0 1.5rem">
                FAVOURITES<br> @Model.FirstOrDefault().FavouritesCount
            </div>
            <ul class="nav navbar-nav" style="float: right; ">
                <li>@Html.ActionLink("Edit Profile", "Edit", "Profile", new { @class = "btn btn-default" })</li>
            </ul>
        </div>
        <div style="margin-left: 2rem">
            <a href="#">
                @{
                    string profileAvatar = Model.FirstOrDefault().UserAvatarUrl == null ? "http://www.sourcecoi.com/sites/default/files/team/defaultpic.png" : Model.FirstOrDefault().UserAvatarUrl;
                }
                <img class="media - object" src="@profileAvatar" style="width: 20rem; height: 20rem; border - radius: 15 % " alt="">
            </a>
        </div>
        <div style="margin-left: 3.5rem">
            <h3>@Model.FirstOrDefault().UserFullName</h3>
        </div>
    </div>
</div>
<div class="home-wrapper">
    @Html.Partial("_OwnTweetsPartial")
</div>


