@model Twitter.Web.Models.BindingModels.CreateTweetBindingModel

@{
    ViewBag.Title = "Create tweet";
}

<h2>Create new tweet</h2>

@using (Html.BeginForm("CreateTweet", "Tweets", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-1">
            @Html.LabelFor(m => m.Content)
        </div>
        <div class="col-md-11">
            <p class="text-danger">@Html.ValidationMessageFor(m => m.Content)</p>
            @Html.EditorFor(m => m.Content)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <input type="submit" class="btn btn-default" value="Tweet" />
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval");
}