@using Twitter.Web.Models
@model Twitter.Web.Models.ViewModels.UserViewModel

<h2>Welcome @Model.UserName</h2>
@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
<br />
<hr />

@using (@Html.BeginForm("CreateTweet", "User"))
{
    @Html.ValidationSummary(true)
    @Html.TextArea("content")
    <input type="submit" name="Submit" value="Tweet" />
    @Html.AntiForgeryToken()
}